$light-blue: #55cfd6;
$blue: #0a97b7;
$orange: #f1651d;
$light-orange: #fea360;
$peach: #fceebf;
$grey: #bfbfbf;
$light-grey: #eeeeee;

$prime: $blue;
$prime-lighter: $light-blue;
$contrast: $orange;
$contrast-lighter: $light-orange;
$neutral: $peach;
$text-color: darken($prime, 10);

$font-size: 14px;
$font-size-btns: 21px;
$font-size-big: 21px;
$font-size-bold: 18px;
$font-size-huge: 30px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$tablet-widths: "(min-width: #{$tablet-width})";
$desktop-widths: "(min-width: #{$desktop-width})";
$mobile-only: "(max-width: #{$tablet-width - 1px})";

