.contacts {
  margin: 0;
  padding-bottom: 80px;
  padding-top: 10px;
  min-height: calc(100vh - 100px);
  color: white;
  background-color: $prime;

  &__inner {
    @include container;
  }
}

.contacts__text {
  text-align: left;
}

.contacts__adress {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

.contacts__link {
    text-align: left;
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
    position: relative;
    transition: 0.3s;

  & svg,
  & span {
    vertical-align: middle;
    transition: 0.3s;
  }

  & span {
    border-bottom: 1px solid;
    margin-left: 10px;
  }

  & svg {
    fill: white;
  }

  &:hover {
    color: $contrast-lighter;

    & span {
      border-bottom: 3px solid;
      margin-left: 10px;
    }

    & svg {
      fill: $contrast-lighter;
    }
  }
}

.text-field {
  margin-bottom: 30px;
}

.text-field__input,
.text-field__textarea {
  display: block;
  width: 100%;
  padding: 16px 20px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: white;

  background-color: $text-color;
  border: none;
  outline: none;

  transition: background-color 0.5s;

  &:hover {
    background-color: darken($prime, 6);
  }

  &:focus {
    color: white;

    background-color: $prime;
    box-shadow: 0 0 0 3px $text-color inset;
  }

  &:invalid,
  &--invalid {
    background-color: #f6dada;
    color: $text-color;
  }

  &--valid {
    background-color: $prime-lighter;
  }

  @include placeholder(transparentize(white, 0.3));
}

.text-field__label {
  display: block;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
}


@media #{$tablet-widths} {
  .feedback-form__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .text-field {
    &--short {
      flex-grow: 1;
      &:first-child {
        margin-right: 20px;
      }
    }

    &--long {
      width: 100%;
    }
  }
}

@media #{$desktop-widths} {
   .contacts__inner {
    display: flex;
   }

   .contacts__feedback {
    flex-grow: 1;
    margin-left: 80px;
   }
}

