@keyframes MoveGradient {
  0%{background-position:0% 0%}
  50%{background-position:100% 100%}
  100%{background-position:0% 0%}
}

.first-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  //padding-top: 80px;

  color: white;

  background: linear-gradient(135deg, $prime, $prime-lighter);
  background-size: 400% 400%;

  animation: MoveGradient 20s ease infinite;
}

  .page-header__inner {
    @include container;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .langs__link {
      display: block;
      @include size(3rem);
      line-height: 3rem;
      font-size: 0.75rem;
      color: white;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-style: bold;
      border: 2px solid;
      border-radius: 50%;
      opacity: 0.4;
      transition: opacity 0.3s;

      &:hover,
      &--active {
        opacity: 0.7;
      }
    }
  }

  .langs {
    margin: auto;

    .langs__list {
      @include list-reset;
      display: flex;
      justify-content: space-between;
    }

    .langs__item {
      display: inline-block;
      vertical-align: top;

      &:first-child {
        margin-right: 10px;
      }
    }

  }

.intro {
  position: relative;
  display: flex;
  max-width: 800px;
  margin: auto;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
}

.intro__photo {
  @include size(200px);
  margin: 0 auto;
  margin-bottom: 10px;

  border-radius: 50%;
  overflow: hidden;
  border: 3px solid $prime;
}

.intro__text {
  margin-bottom: 10px;
}

.intro__btns {
  text-align: center;
}

@media #{$tablet-widths} {
    .langs {
    margin: auto;

    .langs__list {
    display: block;
    text-align: left;
    }
  }

  .intro__photo {
    @include size(300px);
    margin-bottom: 30px;
  }

  .intro__text {
    margin-bottom: 45px;
  }

  .intro__btns {
    display: flex;
    flex-direction: row;

    & .btn {
      flex-grow: 1;
      max-width: 300px;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

@media #{$tablet-widths} and (min-height: 800px) {
  .first-screen {
    padding: 0;
  }

  .intro {
    //margin: 200px auto;
  }
}

@media #{$desktop-widths} {
  .page-header__nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .langs {
      margin: 0;
      margin-top: 10px;
      order: -1;
    }
  }
}
