@keyframes drop {
  0%   { top:0px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}

.scroll-controls {
  position: fixed;
  top: 50%;
  right: 10px;
  height: 120px;
  width: 15px;
  margin-top: -60px;
  z-index: 1000;
  font-size: 0;
  text-align: center;

  @include list-reset;
}


.scroll-controls__toddle {
    display: block;
    width: 15px;
    height: 15px;
    margin: 20px 0;
    //background-color: $contrast;
    border: 2px solid white;
    border-radius: 50%;
}

.scroll-controls__toddle:hover {
    transform: scale(1.5);
    transition: transform 0.3s;
}

.scroll-controls__item--active a {
    transform: scale(1.5);
    transition: transform 0.3s;
}

.scroll-btn {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 15px;
  margin-left: -15px;
}

.scroll-btn svg {
    position: relative;
    fill: white;
    animation-name: drop;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
