.portfolio {
  //min-height: 100vh;
}

.portfolio__works-list {
  @include list-reset;

  & a {
    color: inherit;
  }
}

.portfolio__item {
  position: relative;
  color: white;

  &:nth-child(8n+1),
  &:nth-child(8n+7) {
    color: $text-color;
    background-color: $neutral;
    & .btn--portfolio {
      color: $text-color;
      border-color: $text-color;
      @include colorchange($text-color, transparent, $contrast, white, $contrast-lighter, white);
    }

  }

  &:nth-child(8n+2),
  &:nth-child(8n+8) {
    background-color: $prime-lighter;

    & .work__technologies-item {
      color: $prime;
    }

    & .btn--portfolio {
      @include colorchange(white, transparent, $contrast, white, $contrast-lighter, white);
    }
  }

  &:nth-child(8n+3),
  &:nth-child(8n+5) {
    background-color: $contrast-lighter;

    & .btn--portfolio {
      @include colorchange(white, transparent, $prime, white, $prime-lighter, white);
    }
  }

  &:nth-child(8n+4) {
    background-color: $contrast;

    & .btn--portfolio {
      @include colorchange(white, transparent, $prime-lighter, white, $prime, white);
    }
  }

  &:nth-child(8n+6) {
    background-color: $prime;

    & .work__technologies-item {
      color: $prime;
    }

    & .btn--portfolio {
      @include colorchange(white, transparent, $contrast-lighter, white, $contrast, white);
    }
  }

  & h2 {
    margin-top: 25px;
    margin-bottom: 6px;
  }

  & p {
    margin: 4px 0;
  }

}


@media #{$tablet-widths} {
  .portfolio__works-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .portfolio__item {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .work {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .work__links {
    margin-top: auto;
  }
}

@media #{$desktop-widths} {
  .portfolio__item {
    width: 33.33%;
  }
}

@media #{$larger-widths} {
  .portfolio__item {
    width: 25%;
  }
}


