.resume__about-me {
  @include container;
  text-align: left;
}

.resume__skills {
  @include container;
}

.resume__skills-list {
    @include list-reset;
}

.resume__skills-item {
    margin: 25px 0;
}

.resume__links {
  padding: 60px;
  color: $prime;

  @include striped-bg($light-grey, white);
}

.contacts__adress {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

.contacts__link {
    text-align: left;
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
    position: relative;
    transition: 0.3s;

  & svg,
  & span {
    vertical-align: middle;
    transition: 0.3s;
  }

  & span {
    border-bottom: 1px solid;
    margin-left: 10px;
  }

  & svg {
    fill: $text-color;
  }

  &:hover {
    color: $contrast;

    & span {
      border-bottom: 3px solid;
      margin-left: 10px;
    }

    & svg {
      fill: $contrast;
    }
  }
}

.resume__certificates-list {
  @include list-reset;
  @include striped-bg($light-grey, white);
  padding: 20px;
}


.certificate {

  padding: 10px 20px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid $light-grey;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
}

.certificate__text {
  line-height: 1em;
  padding: 10px 0;
}

.certificate__name {
  font-size: 0.8em;
  border-bottom: 1px solid;
  transition: 0.5s;
}

.certificate__img-wrapper {
  overflow: hidden;
  background-color: $contrast;
}

.certificate__link {
  color: inherit;
  text-decoration: none;

.certificate__img {
  transition: opacity 0.5s;
  width: 100%;
  height: auto;
}

  &:hover {
    & .certificate__name {
      color: $contrast;
      border-bottom: 3px solid;
    }

    & .certificate__img {
      opacity: 0.3;
    }
  }
}

@media #{$tablet-widths} {
  .resume__certificates-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .certificate {
    width: calc(33.3% - 10px);

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

@media #{$desktop-widths} {
  .resume__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include container;
  }

  .resume__about-me {
    width: 50%;
  }

  .resume__education {
    width: 50%;
  }

  .resume__certificates-list {
    background: none;
    border: none;
  }

  .resume__skills {
    width: 100%;
  }

}
