.skills__list {
    @include list-reset;
}


.skills__progress-bar {
    background: $light-grey;
    border-radius: 2px;
    &:hover .skills__skill-perc {
      opacity: 1;
    }
}

.skills__fill {
  @include striped-bg($contrast, $contrast-lighter);
  height: 100%;
  position: relative;
}

.skills__item--html .skills__fill {
    margin-right: 15%;
}

.skills__item--js .skills__fill {
    margin-right: 50%;
}

.skills__item--ps .skills__fill {
    margin-right: 10%;
}

.skills__item--adaptive .skills__fill {
    margin-right: 30%;
}


.skills__item {
    margin: 25px 0;
}

.skills__skill-name {
  padding: 5px 5px;
  display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: white;
  background-color: $contrast;
}

.skills__skill-perc {
  position: absolute;
  display: block;
  right: 0;
  top: -43px;
  padding: 0 3px;
  opacity: 0;
  color: white;
  background-color: $text-color;
  border-radius: 3px;
}

