.work {
padding: 40px;
}

.work__technologies {
  @include list-reset;
}

.work__technologies-item {
  display: inline-block;
  margin: 4px 0;
  background-color: white;
  padding: 0 8px;
  color: $contrast;
  line-height: 2;
}

.work__caption {
  font-size: 14px;
  line-height: 1.5;
}

@media #{$tablet-widths} and (hover: hover) {

  .work__links {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 66px - 15px);

    & .btn--portfolio {


      &:nth-child(1) {
        transform: translateY(-200px);
        outline: red;
      }

      &:nth-child(2) {
        transform: translateY(200px);
      }
    }
  }

    .work__caption,
    .work__image {
      transition: opacity 0.5s;
    }

  .btn--portfolio {
      opacity: 0;
      text-align: center;
      transform: translateY(-200px);
      transition: opacity 0.5s, transform 0.5s;

    &:first-child {
      transform: translateY(-200px);
    }

    &:last-child {
      transform: translateY(200px);
    }
  }

  .work {

    &:hover {
      & .btn--portfolio {
        opacity: 1;
        transform: translateY(0);
      }

      .work__caption,
      .work__image {
        opacity: 0;
      }
    }
  }
}
